alembic
beautifulsoup4
certifi
chardet
click
dominate
Flask
Flask-Bootstrap
Flask-CKEditor

Flask-Login
Flask-Migrate
Flask-SQLAlchemy
Flask-WTF
gunicorn
idna
itsdangerous
Jinja2
Mako
MarkupSafe
psycopg2-binary
requests
soupsieve
SQLAlchemy
typing_extensions
urllib3
visitor
Werkzeug
WTForms
email_validator
