{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{ url_for('static', filename='img/home-image.jpg')}}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading"></span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>I am a IT  professional engineer with over six years of hands-on experience in information systems, cloud architecture, and servicing end-users, I am excited to share my expertise with you. Throughout my career, I have developed a strong understanding of cloud computing and its practical applications in modern business environments. With extensive experience provisioning AWS resources, managing application patches and updates, and configuring cloud Architecture, I am confident in my ability to deliver comprehensive solutions that align with the unique needs of each organization I work with.

<p>My experience has also afforded me the opportunity to work with a variety of different teams and individuals, providing end-user training and desktop support for hub locations and remote offices. I take pride in my ability to effectively troubleshoot technical issues, accurately assess root causes, and implement appropriate solutions. By doing so, I have been able to significantly reduce call back rates and ensure that all IT systems remain functional and reliable.</p>

<p>In addition to my technical expertise, I hold a Bachelor's degree in Computer Science and Cybersecurity from Felician University, as well as several industry-recognized certifications. These include AWS Certified Cloud Practitioner, AWS Certified Solutions Architect - Associate, AWS Certified Solutions Architect - Professional, AWS Certified Developer - Associate, and LinkedIn Learning certifications in Linux Command Line and SUSE Linux Enterprise Server. As a result, I bring a well-rounded perspective to my work and am confident in my ability to deliver exceptional results.</p>

      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}